.App {
  text-align: center;
}

li {
  list-style: none;
  width: 50%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 0 10px rgb(130, 10, 146);
  border-radius: 5px;
  transition: 0.1s all ease;
}

li:hover {
  border-right: 10px solid red;
  border-left: 10px solid red;
  cursor: pointer;
  box-shadow: 0 0 20px rgb(130, 10, 146);
}
